@import url('https://github.githubassets.com/static/fonts/alliance/Alliance-No-1-ExtraBold.woff2');
@import url('https://github.githubassets.com/static/fonts/alliance/Alliance-No-1-Regular.woff2');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient-blue-purple {
    @apply pr-1 pb-4 -mb-4;
    background-clip: text !important;
    background: linear-gradient(90.91deg, #79c0ff -24.67%, #d2a8ff 53.55%);
    -webkit-text-fill-color: transparent;
  }
  .shadow-overlay-card {
    @apply relative shadow-bs-card bg-gh-overlay rounded-md select-none;
  }

  .shadow-overlay-card-after {
    @apply absolute top-0 left-0 block h-full w-full pointer-events-none;
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(255 255 255 / 10%);
  }

  .bg-gradient {
    width: 100%;
    left: 0%;
    top: -13%;
    transform: scale(1.7);
  }

  .minus-margin {
    margin-right: -15%;
    margin-left: -15%;
    margin-top: -15%;
  }

  .revert-filter {
    filter: brightness(0) invert(1);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Alliance No.1', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  word-break: keep-all;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #333333 #d2c8ff;
}
